<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户新增页面</title>
    <!-- 引入样式 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
<el-button
        type="info"
        icon="el-icon-upload2"
        size="mini"
        @click="handleImport"
>导入</el-button>

<el-dialog :title="upload.title" :visible.sync="upload.open" width="400px">
    <el-upload
            ref="upload"
            :limit="1"
            accept=".xlsx, .xls"
            :headers="upload.headers"
            action="excel"
            :disabled="upload.isUploading"
            :on-progress="handleFileUploadProgress"
            :on-success="handleFileSuccess"
            :auto-upload="false"
            drag
    >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">
            将文件拖到此处，或
            <em>点击上传</em>
        </div>
        <div class="el-upload__tip" slot="tip">
            <el-checkbox v-model="upload.updateSupport">是否更新已经存在的用户数据</el-checkbox>
            <el-link type="info" style="font-size:12px" @click="importTemplate">下载模板</el-link>
        </div>
        <div class="el-upload__tip" style="color:red" slot="tip">提示：仅允许导入“xls”或“xlsx”格式文件！</div>
    </el-upload>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitFileForm">确 定</el-button>
        <el-button @click="upload.open = false">取 消</el-button>
    </div>
</el-dialog>
</div>
</body>

<script type="text/javascript" >
    let app = new Vue({
        el: '#app',
        data: {
            upload: {
                // 是否显示弹出层（用户导入）
                open: false,
                // 弹出层标题（用户导入）
                title: "",
                // 是否禁用上传
                isUploading: false,
                // 是否更新已经存在的用户数据
                updateSupport: 0,
                // 设置上传的请求头部
                headers: { Authorization: "Bearer "},
                // 上传的地址
                url: "/system/user/importData"
            },
        },
        methods:{
            handleImport() {
                this.upload.title = "用户导入";
                this.upload.open = true;
            },
            importTemplate() {
                axios.get('/getExample').then(function(response){
                    console.log(response);//请求正确时执行的代码
                }).catch(function (response){
                    console.log(response);//发生错误时执行的代码
                });
            },
// 文件上传中处理
            handleFileUploadProgress(event, file, fileList) {
                this.upload.isUploading = true;
            },
// 文件上传成功处理
            handleFileSuccess(response, file, fileList) {
                this.upload.open = false;
                this.upload.isUploading = false;
                this.$refs.upload.clearFiles();
                this.$alert(response.msg, "导入结果", { dangerouslyUseHTMLString: true });
            },
// 提交上传文件
            submitFileForm() {
                this.$refs.upload.submit();
            }

        },

    });
</script>
</html>